main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


table {
    border: 2px solid #564a61;
    border-radius: 8px;
}

th, .color {
    border-radius: 4px;
}

h3, h4, .hex {
    text-align: center;
}

td {
    padding: 1vw 0;
}

tbody tr :nth-child(n+2) {
    border-top: 2px solid #564a61;
}

tbody tr:nth-child(even){
    background-color: #FFFaF3;
}

.use {
    padding-left: 1em;
}

th, #lightPurple {
    background-color: #AE79E0;
}

#darkPurple {
    background-color: #564a61;
}

#lightPink {
    background-color: #E079C0;
}

#darkPink {
    background-color: #614A5A;
}

#lightGreen {
    background-color: #B2E079;
}

#darkGreen {
    background-color: #56614A;
}

#outerSection {
    background-color: #FFFaF3;
}

#innerSection {
    background-color: #FFECD6;
}

#innerSectionBorder {
    background-color: #FFE4C4;
}


.font {
    padding: 0 5vw;
}

.font p {
    width: fit-content;
}


.styleGroup {
    flex-direction: column;
}

.style, .font {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.style {
    margin: 0 2vw;
}

ul {
    width: fit-content;
}

.headingMain {
    font-size: 40px;
}

.text {
    font-weight: 400;
}


@media (max-width: 500px) {
    nav {
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    .stylesInner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}

@media (min-width: 992px) {
    #fontsInner {
        flex-direction: row;
        justify-content: space-around;
    }
    .font {
        padding: 1vw;
    }
}