body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid seashell;
}

#logo {
    height: 50px;
    margin-left: 10px;
}

#headNav {
    width: 400px;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: seashell;
}
nav a:visited {
    color: seashell;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title {
    text-align: center;
}

.title h2, .title h4 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.title h4 {
    margin-bottom: 10px;
}


section {
    margin-bottom: 70px;
}


#mission {
    background-image: url('resources/mission-background.jpg');
    height: 700px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mission .title {
    background-color: black;
    width: 1200px;
}


#featured {
    width: 1000px;
}

#featuredInner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#featuredInner div {
    margin: 5px;
}

.featuredImg img {
    height: 200px;
    width: 300px;
    margin: 10px;
}

.featuredImg h4 {
    margin: 0;
    text-align: center;
}

#locations {
    background-image: url('resources/locations-background.jpg');
    height: 570px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#locations h2 {
    margin: 80px 0 20px;
}

#locationsInner {
    display: flex;
}

.location {
    background-color: black;
    width: 300px;
    height: 275px;
    margin: 0px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.location h3 {
    margin-bottom: 7px;
}


#footerInner {
    height: 200px;
    text-align: center;
}

#footerInner h2 {
    margin-top: 0;
}


.bookend {
    background-color: #AE79E0;
    border: solid .2em #564A61;
    filter: drop-shadow(0em 0em 0.5em rgba(0, 0, 0, 0.205));
    box-sizing: border-box;
    text-align: center;
    margin: 1em 0;
    padding: 1em;
    color: black;
}

.bookend a {
    color: black;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

.bookend a:visited {
    color: black;
}

.delius {
  font-family: "Delius", cursive;
}

.GoRound {
  font-family: "Chiron GoRound TC", sans-serif;
}