body {
    background: linear-gradient(135deg, #E079C0 0%, #B2E079 100%);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headingMain {
    font-size: 40px;
}

.navHeading {
    font-weight: 600;
    font-size: 20px;
}

.heading {
    font-weight: 600;
}

.text {
    font-weight: 400;
}

.outerSection {
    width: 70vw;
    background-color: #fffaf3;
    border-radius: 2em;
    padding: 2em;
    margin: 3em 0;
    filter: drop-shadow(0em 0em 0.5em rgba(0, 0, 0, 0.205));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.innerSection {
    width: 65vw;
    /* background-color: #FFECD6;
    border: 0.5em solid #FFE4C4;
    border-radius: 1em; */
    padding: 3em 2em;
    margin: 1em 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

table {
    border: 2px solid #564a61;
    border-radius: 8px;
}

th, .color {
    border-radius: 4px;
}

td {
    padding: 1vw 0;
}

tbody tr :nth-child(n+2) {
    border-top: 2px solid #564a61;
}

th, #lightPurple {
    background-color: #AE79E0;
}

#darkPurple {
    background-color: #564a61;
}

#lightPink {
    background-color: #E079C0;
}

#darkPink {
    background-color: #614A5A;
}

#lightGreen {
    background-color: #B2E079;
}

#darkGreen {
    background-color: #56614A;
}

#outerSection {
    background-color: #FFFaF3;
}

#innerSection {
    background-color: #FFECD6;
}

#innerSectionBorder {
    background-color: #FFE4C4;
}

#fontsInner, #stylesInner, .styleGroup {
    display: flex;
}

.styleGroup {
    flex-direction: column;
}

.styleGroup div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.styleList {
    width: fit-content;
}

.font {
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.font p {
    width: fit-content;
}

h3, .hex {
    text-align: center;
}

.delius {
  font-family: "Delius", cursive;
}

.GoRound, .styleList {
  font-family: "Chiron GoRound TC", sans-serif;
}

@media (min-width: 500px) {
    .outerSection {
        width: 80vw;
    }
    .innerSection {
        width: 65vw;
    }
}

@media (min-width: 768px) {
    .styleGroup {
        justify-content: space-between;
    }
    .outerSection {
        width: 85vw;
    }
    .innerSection {
        width: 70vw;
    }
    #stylesInner {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}

@media (min-width: 992px) {
    #fontsInner {
        flex-direction: row;
        justify-content: space-around;
    }
    .font {
        padding: 1vw;
    }
    /* .style {
        padding: 0 2vw;
    } */
}

/* @media (min-width: 1200px) {
    .style {
        padding: 0 4vw;
    }
} */